<phpunit>
    <testsuites>
        <testsuite name="all-tests">
            <directory>examples/*</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--Database Settings-->
        <var name="DB_DSN" value="mysql:dbname=phpunit_db;host=localhost"/>
        <var name="DB_USER" value="phpunit_user"/>
        <var name="DB_PWD" value="phpunit_password"/>
        <var name="DB_DATABASE" value="phpunit_db"/>
    </php>
</phpunit>